.components-date-picker-box {
  display: flex;
  align-items: center;

  .components-picker-box-arrow {
    margin-left: 3px;
    position: relative;
    top: 3%;
  }

  .clear-box {
    margin-left: 3px;
  }

  .picker-box-content {
    color: var(--public-text-color);
  }

  .picker-box-content-placeholder {
    color: var(--public-placeholder-color);
  }
}
