.common-components-container {
  .error-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .error-title {
    margin-top: 20px;
    font-size: 20px;
    color: #616165;
  }

  .error-detail {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #424146;
    max-width: 84vw;
  }

  .loading-mask {
    background-color: #333333;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0.2;
  }

  .jmc-icon-loading {
    font-size: 30px;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    animation: loading-animation 1s linear infinite;
  }

  @keyframes loading-animation {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }
}
