/* stylelint-disable selector-type-no-unknown */

:root,
page {
  --primary-color: #386df8;
  --primary-color-end: #94adeb;
  --public-placeholder-color: #c8c9cc;
  --public-text-color: #333333;
  --public-text-size: 12px;
  /** nutui reset */
  --nut-primary-color: var(--primary-color);
  --nut-primary-color-end: var(--primary-color-end);
  --nut-text-color: var(--public-text-color);
  --nut-font-size-1: var(--public-text-size);
  --nut-uploader-picture-width: 110px;
  --nut-uploader-picture-height: 110px;
}

page,
body {
  background: #f2f2f2;
  color: var(--public-text-color);
}

view,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--public-placeholder-color);
  font-size: var(--public-text-size);
}
